!.gitignore

__pycache__/
*.py[cod]

*.env
.env
venv/
.env/
.venv/
Pipfile
Pipfile.lock

*.db
*.sqlite
*.sqlite3
*.json
*.csv

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
internship-preter/
.ipynb_checkpoints/
